@import '../../styles/include/_mq.scss';
@import '../../styles/include/_tokens.scss';

.list-item-wrapper {
  @include for-mobile {
    width: calc(100% - 32px);
  }
  @include for-tablet {
    width: calc(100% - 72px);
  }
  @include for-laptop {
    width: calc(100% - 72px);
  }
  @include for-large {
    width: calc(100% - 104px);
  }
  .list-item {
    position: relative;
    margin: 0 0 24px 0;
    @include for-laptop {
      width: calc((100% - 15px) / 12 * 8);
    }
    @include for-large {
      width: calc((100% - 15px) / 12 * 8);
    }
    @include for-xlarge {
      width: calc((100% - 15px) / 12 * 8);
    }
    p {
      margin: 0 0 24px 0;
      &:last-child {
        margin: 0;
      }
      &:not(.button-container) {
        span.icon {
          &.icon-phone,
          &.icon-light--phone,
          &.icon-regular--phone,
          &.icon-solid--phone {
            margin: 0 2px 0 2px;
          }
          height: auto;
          width: auto;
          margin: 0 2px 0 5px;
          i {
            font-size: 16px;
          }
        }
      }
      &:not(:has(strong, em)) {
        a {
          span.icon {
            &.icon-phone,
            &.icon-light--phone,
            &.icon-regular--phone,
            &.icon-solid--phone {
              margin: 0 2px 0 2px;
            }
            height: auto;
            width: auto;
            margin: 0 2px 0 5px;
            i {
              font-size: 16px;
            }
          }
        }
      }
      picture {
        display: flex;
        img {
          width: 100%;
        }
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0 0 24px 0;
      .icon {
        &.icon-phone,
        &.icon-light--phone,
        &.icon-regular--phone,
        &.icon-solid--phone {
          margin: 0 2px 0 2px;
        }
      }
      sup {
        line-height: 0;
      }
    }
    h1 {
      .icon {
        height: auto;
        width: auto;
        margin: 0 2px 0 5px;
        i {
          font-size: 40px;
          color: $--gray-700;
        }
      }
      a {
        .icon {
          height: auto;
          width: auto;
          margin: 0 2px 0 5px;
          i {
            font-size: 40px;
          }
        }
      }
    }
    h2 {
      .icon {
        height: auto;
        width: auto;
        margin: 0 2px 0 5px;
        i {
          font-size: 32px;
          color: $--gray-700;
        }
      }
      a {
        .icon {
          height: auto;
          width: auto;
          margin: 0 2px 0 5px;
          i {
            font-size: 32px;
          }
        }
      }
    }

    h3 {
      .icon {
        height: auto;
        width: auto;
        margin: 0 2px 0 5px;
        i {
          font-size: 24px;
          color: $--gray-700;
        }
      }
      a {
        .icon {
          height: auto;
          width: auto;
          margin: 0 2px 0 5px;
          i {
            font-size: 24px;
          }
        }
      }
    }

    h4 {
      .icon {
        height: auto;
        width: auto;
        margin: 0 2px 0 5px;
        i {
          font-size: 20px;
          color: $--gray-700;
        }
      }
      a {
        .icon {
          height: auto;
          width: auto;
          margin: 0 2px 0 5px;
          i {
            font-size: 20px;
          }
        }
      }
    }

    h5 {
      .icon {
        height: auto;
        width: auto;
        margin: 0 2px 0 5px;
        i {
          font-size: 18px;
          color: $--gray-700;
        }
      }
      a {
        .icon {
          height: auto;
          width: auto;
          margin: 0 2px 0 5px;
          i {
            font-size: 18px;
          }
        }
      }
    }

    h6 {
      .icon {
        height: auto;
        width: auto;
        margin: 0 2px 0 5px;
        i {
          font-size: 16px;
          color: $--gray-700;
        }
      }
      a {
        .icon {
          height: auto;
          width: auto;
          margin: 0 2px 0 5px;
          i {
            font-size: 18px;
          }
        }
      }
    }
    ul,
    ol {
      margin: 12px 0 0 0;
      li {
        margin: 0 0 12px 0;
        .icon {
          &.icon-phone,
          &.icon-light--phone,
          &.icon-regular--phone,
          &.icon-solid--phone {
            margin: 0 2px 0 2px;
          }
          height: auto;
          width: auto;
          margin: 0 2px 0 5px;
          i {
            font-size: 16px;
          }
        }
      }
    }
    > div:nth-child(1) {
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        left: 10px;
        margin: 0;
        position: absolute;
        top: 0;
      }
    }
    &:has(div h3 sup) {
      div:nth-child(1) p {
        top: 6px;
      }
    }
    > div:nth-child(2) {
      padding-left: 55px;
    }
  }
}
