@import '../../styles/include/_mq.scss';
@import '../../styles/include/_tokens.scss';

.image-overlap-container {
  .image-overlap-wrapper {
    padding: 0;
    @include for-large {
      width: calc(100% - 104px);
    }
    .image-overlap {
      &.block {
        h3 {
          margin: 12px 0;
        }
        ul {
          margin: 0;
          margin-bottom: 24px;
        }
        ol {
          margin: 0;
          margin-bottom: 24px;
        }
        &.columns-2-cols {
          > div {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            @include for-nonmobile {
              flex-direction: row;
              gap: 30px;
            }
            @include for-mobile {
              padding: 0 16px;
            }
            @include for-tablet {
              min-height: 390px;
              padding: 0 $--spacing-xl 0 $--spacing-xl;
            }
            @include for-tablet-smallest {
              min-height: auto;
            }
            @include for-laptop {
              min-height: 390px;
              padding: 0 $--spacing-xl 0 $--spacing-xl;
            }
            @include for-large {
              gap: calc(((100% - (11 * 30px)) / 12) + 60px);
              min-height: 390px;
            }
            @include for-xlarge {
              gap: calc(((100% - (11 * 30px)) / 12) + 60px);
              min-height: 462px;
            }
            .col-content-overlap {
              order: 1;
              position: relative;
              flex: 1;
              align-content: center;
              @include for-mobile {
                padding: 0 0 $--spacing-huge 0;
              }
              @include for-tablet {
                max-width: calc(50% - 51px);
                padding: $--spacing-huge 0 $--spacing-huge 0;
              }
              @include for-laptop {
                max-width: calc(50% - 51px);
                padding: $--spacing-huge 0 $--spacing-huge 0;
              }
              @include for-large {
                padding: $--spacing-max 0 $--spacing-max 0;
                max-width: calc((100% - 30px) / 12 * 5);
              }
              @include for-xlarge {
                padding: $--spacing-max 0 $--spacing-max 0;
                max-width: calc((100% - 30px) / 12 * 5);
              }
              @include for-nonmobile {
                order: unset;
                display: flex;
                flex-flow: row wrap;
                text-align: left;
                column-gap: 24px;
              }
              h2 {
                width: 100%;
                margin: 0 0 $--spacing-l 0;
                &:has(a) {
                  color: $--blue-675;
                }
                &:not(.button-container) {
                  .icon {
                    &.icon-phone,
                    &.icon-light--phone,
                    &.icon-regular--phone,
                    &.icon-solid--phone {
                      margin: 0 2px 0 2px;
                    }
                    height: auto;
                    width: auto;
                    margin: 0 2px 0 5px;
                    i {
                      font-size: 32px;
                      color: $--gray-700;
                    }
                  }
                  a {
                    .icon {
                      &.icon-phone,
                      &.icon-light--phone,
                      &.icon-regular--phone,
                      &.icon-solid--phone {
                        margin: 0 2px 0 2px;
                      }
                      height: auto;
                      width: auto;
                      margin: 0 2px 0 5px;
                      i {
                        font-size: 32px;
                      }
                    }
                  }
                }
                @include for-mobile {
                  margin: $--spacing-xxl 0 $--spacing-l 0;
                }
              }
              p {
                width: 100%;
                color: $--gray-700;
                font-family: $--font-roboto;
                font-size: 16px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: 0px;
                text-align: left;
                line-height: 24px;
                margin: 0 0 $--spacing-l 0;
                a {
                  font-weight: 500;
                }
                &:not(.button-container) {
                  span.icon {
                    &.icon-phone,
                    &.icon-light--phone,
                    &.icon-regular--phone,
                    &.icon-solid--phone {
                      margin: 0 2px 0 2px;
                    }
                    height: auto;
                    width: auto;
                    margin: 0 2px 0 5px;
                    i {
                      font-size: 16px;
                    }
                  }
                }
                &:not(:has(strong, em)) {
                  a {
                    span.icon {
                      &.icon-phone,
                      &.icon-light--phone,
                      &.icon-regular--phone,
                      &.icon-solid--phone {
                        margin: 0 2px 0 2px;
                      }
                      height: auto;
                      width: auto;
                      margin: 0 2px 0 5px;
                      i {
                        font-size: 16px;
                      }
                    }
                  }
                }
                &.button-container {
                  margin-top: 0;
                  margin-bottom: 0;
                  @include for-nonmobile {
                    width: max-content;
                  }
                  a.button {
                    margin-top: $--spacing-s;
                  }
                  &:not(:has(strong, em)) {
                    width: 100%;
                    margin: 0 0 24px 0;
                  }
                }
                &.button-container + p:not(.button-container) {
                  margin-top: 24px;
                  &:last-child {
                    margin-bottom: 0;
                  }
                }
                &.button-container + ul {
                  padding-top: 24px;
                }
              }
              ul {
                margin: 0;
                padding-bottom: 24px;
                &:last-child {
                  padding-bottom: 0;
                }
                li {
                  padding-bottom: 12px;
                  .icon {
                    &.icon-phone,
                    &.icon-light--phone,
                    &.icon-regular--phone,
                    &.icon-solid--phone {
                      margin: 0 2px 0 2px;
                    }
                    height: auto;
                    width: auto;
                    margin: 0 2px 0 5px;
                    i {
                      font-size: 16px;
                    }
                  }
                  &:last-child {
                    padding-bottom: 0;
                  }
                  ul,
                  ol {
                    padding-top: 12px;
                    padding-bottom: 0;
                  }
                }
              }
            }
            .col-img-overlap {
              order: 0;
              flex: 1;
              @include for-mobile {
                padding: 0;
                width: 100%;
              }
              @include for-tablet {
                width: calc(50% - 51px);
              }
              @include for-tablet-smallest {
                width: calc(50% - 51px);
                display: flex;
                align-items: center;
              }
              @include for-laptop {
                width: calc(50% - 51px);
              }
              @include for-large {
                width: calc((100% - 30px) / 2);
                min-width: calc((100% - 30px) / 2);
              }
              @include for-xlarge {
                width: calc((100% - 30px) / 2);
                min-width: calc((100% - 30px) / 2);
              }
              p {
                margin: 0;
                height: 100%;
                img {
                  width: 100%;
                  display: flex;
                  @include for-tablet {
                    object-fit: cover;
                    transform: translateY(-28px) scaleY(1);
                    min-height: calc(100% + 56px);
                  }
                  @include for-tablet-smallest {
                    min-height: auto;
                    object-fit: cover;
                  }
                  @include for-laptop {
                    object-fit: cover;
                    transform: translateY(-28px) scaleY(1);
                    min-height: calc(100% + 56px);
                  }
                  @include for-large {
                    object-fit: cover;
                    transform: translateY(-70px) scaleY(1);
                    min-height: calc(100% + 140px);
                  }
                  @include for-xlarge {
                    object-fit: cover;
                    transform: translateY(-70px) scaleY(1);
                    min-height: calc(100% + 140px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.background-blue-550 {
  &.image-overlap-container {
    .image-overlap-wrapper {
      padding: 0;
      @include for-large {
        width: calc(100% - 104px);
      }
      .image-overlap {
        &.image-right-overlap {
          h3 {
            margin: 12px 0;
          }
          ul {
            margin: 0;
            margin-bottom: 24px;
          }
          ol {
            margin: 0;
            margin-bottom: 24px;
          }
          > div {
            .col-content-overlap {
              h2 {
                color: $--white;
                &:not(.button-container) {
                  .icon {
                    &.icon-phone,
                    &.icon-light--phone,
                    &.icon-regular--phone,
                    &.icon-solid--phone {
                      margin: 0 2px 0 2px;
                    }
                    height: auto;
                    width: auto;
                    margin: 0 2px 0 5px;
                    i {
                      font-size: 32px;
                      color: $--white;
                    }
                  }
                  a {
                    .icon {
                      &.icon-phone,
                      &.icon-light--phone,
                      &.icon-regular--phone,
                      &.icon-solid--phone {
                        margin: 0 2px 0 2px;
                      }
                      height: auto;
                      width: auto;
                      margin: 0 2px 0 5px;
                      i {
                        font-size: 32px;
                        color: $--white;
                      }
                    }
                  }
                }
              }
              p {
                color: $--white;
                &:not(.button-container) {
                  span.icon {
                    &.icon-phone,
                    &.icon-light--phone,
                    &.icon-regular--phone,
                    &.icon-solid--phone {
                      margin: 0 2px 0 2px;
                    }
                    height: auto;
                    width: auto;
                    margin: 0 2px 0 5px;
                    i {
                      font-size: 16px;
                      color: $--white;
                    }
                  }
                }
              }
              &:not(:has(strong, em)) {
                a {
                  span.icon {
                    &.icon-phone,
                    &.icon-light--phone,
                    &.icon-regular--phone,
                    &.icon-solid--phone {
                      margin: 0 2px 0 2px;
                    }
                    height: auto;
                    width: auto;
                    margin: 0 2px 0 5px;
                    i {
                      font-size: 16px;
                      color: $--white;
                    }
                  }
                }
              }
              ul,
              ol {
                li {
                  color: $--white;
                  .icon {
                    &.icon-phone,
                    &.icon-light--phone,
                    &.icon-regular--phone,
                    &.icon-solid--phone {
                      margin: 0 2px 0 2px;
                    }
                    height: auto;
                    width: auto;
                    margin: 0 2px 0 5px;
                    i {
                      font-size: 16px;
                      color: $--white;
                    }
                  }
                }
              }
            }
          }
        }
        &.image-left-overlap {
          h3 {
            margin: 12px 0;
          }
          ul {
            margin: 0;
            margin-bottom: 24px;
          }
          ol {
            margin: 0;
            margin-bottom: 24px;
          }
          > div {
            .col-content-overlap {
              h2 {
                color: $--white;
                &:not(.button-container) {
                  .icon {
                    &.icon-phone,
                    &.icon-light--phone,
                    &.icon-regular--phone,
                    &.icon-solid--phone {
                      margin: 0 2px 0 2px;
                    }
                    height: auto;
                    width: auto;
                    margin: 0 2px 0 5px;
                    i {
                      font-size: 32px;
                      color: $--white;
                    }
                  }
                  a {
                    .icon {
                      &.icon-phone,
                      &.icon-light--phone,
                      &.icon-regular--phone,
                      &.icon-solid--phone {
                        margin: 0 2px 0 2px;
                      }
                      height: auto;
                      width: auto;
                      margin: 0 2px 0 5px;
                      i {
                        font-size: 32px;
                        color: $--white;
                      }
                    }
                  }
                }
              }
              p {
                color: $--white;
                &:not(.button-container) {
                  span.icon {
                    &.icon-phone,
                    &.icon-light--phone,
                    &.icon-regular--phone,
                    &.icon-solid--phone {
                      margin: 0 2px 0 2px;
                    }
                    height: auto;
                    width: auto;
                    margin: 0 2px 0 5px;
                    i {
                      font-size: 16px;
                      color: $--white;
                    }
                  }
                }
                &:not(:has(strong, em)) {
                  a {
                    span.icon {
                      &.icon-phone,
                      &.icon-light--phone,
                      &.icon-regular--phone,
                      &.icon-solid--phone {
                        margin: 0 2px 0 2px;
                      }
                      height: auto;
                      width: auto;
                      margin: 0 2px 0 5px;
                      i {
                        font-size: 16px;
                        color: $--white;
                      }
                    }
                  }
                }
              }
              ul,
              ol {
                li {
                  color: $--white;
                  .icon {
                    &.icon-phone,
                    &.icon-light--phone,
                    &.icon-regular--phone,
                    &.icon-solid--phone {
                      margin: 0 2px 0 2px;
                    }
                    height: auto;
                    width: auto;
                    margin: 0 2px 0 5px;
                    i {
                      font-size: 16px;
                      color: $--white;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
