/* search box */
.searche-eds .search-box {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1ch;
  align-items: center;
}

.searche-eds .search-box input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--body-font-size-s);
  transition: border-color 0.2s;
}

.searche-eds .search-box input:hover {
  border: 1px solid var(--text-color);
}

/* search results */
.searche-eds ul.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  gap: 24px;
  padding-left: 0;
  list-style: none;
}

.searche-eds ul.search-results > li {
  border: 1px solid #dadada;
}

.searche-eds ul.search-results > li > a {
  display: block;
  height: 100%;
  background-color: transparent;
  color: currentcolor;
  cursor: pointer;
}

.searche-eds ul.search-results > li > a:hover,
.searche-eds ul.search-results > li > a:focus {
  text-decoration: none;
}

.searche-eds ul.search-results > li .search-result-title,
.searche-eds ul.search-results > li p {
  padding: 0 16px;
}

.searche-eds ul.search-results > li .search-result-title {
  font-size: var(--body-font-size-m);
  font-weight: normal;
}

.searche-eds ul.search-results > li .search-result-title a {
  color: currentcolor;
  text-decoration: none;
}
.search-eds.minimal .searche-eds ul.search-results > li p {
  font-size: var(--body-font-size-s);
}

.searche-eds ul.search-results > li .search-result-image {
  aspect-ratio: 4 / 3;
}

.searche-eds ul.search-results > li picture img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* no results */
.searche-eds ul.search-results.no-results {
  display: block;
  margin-left: 34px;
}

.searche-eds ul.search-results.no-results > li {
  border: none;
}

/* minimal variant */
.search-eds.minimal ul.search-results {
  display: block;
  padding-left: 34px;
}

.search-eds.minimal ul.search-results > li {
  position: relative;
  border: none;
}

.search-eds.minimal ul.search-results > li .search-result-title,
.search-eds.minimal ul.search-results > li p {
  padding: unset;
}

.search-eds.minimal ul.search-results > li .search-result-title a {
  color: var(--link-color);
}

/* stylelint-disable no-descending-specificity */
.search-eds.minimal ul.search-results > li > a {
  background-color: unset;
}

.search-eds.minimal ul.search-results > li > a:hover a,
.search-eds.minimal ul.search-results > li > a:focus a {
  text-decoration: underline;
  color: var(--link-hover-color);
}

.search-eds.minimal ul.search-results > li .search-result-image {
  position: absolute;
  top: 2px;
  left: -34px;
}

.search-eds.minimal ul.search-results .search-result-title + p {
  margin-top: 0.25em;
}

.search-eds.minimal ul.search-results > li picture img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
