@import '../../styles/include/_tokens.scss';
@import '../../styles/include/_mq.scss';
// @import 'breadcrumb.scss';

.header {
  box-shadow: 1px 7px 9px -4px rgba($--gray-700, 0.2);
  position: relative;
  z-index: 98;
  &-wrapper {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    &.header-has-blogmenu {
      position: absolute;
    }
    &.skip-to-content-open {
      top: 52px;
    }
  }
}
.header_search_wrapper > ul {
  max-height: 226px;
  overflow-y: scroll;
  box-sizing: border-box;
  left: 0;
  right: 0;
  margin: 0.5rem 0 0 0;
  padding: 20px;
  z-index: 1;
  list-style: none;
  border-radius: 0.6rem;
  background-color: #fff;
  border: 1px solid rgba(33, 33, 33, 0.07);
  box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
  outline: none;
}
.header_search_wrapper > ul > li[aria-selected='true'] {
  background-color: rgba(255, 122, 122, 0.15);
}
.header_search_wrapper > ul > li {
  &:focus {
    border: 2px solid red;
  }
  &:hover {
    border: 2px solid green;
  }
  mark {
    background-color: transparent;
    font-weight: 600;
  }
  margin: 0.3rem;
  padding: 0.3rem 0.5rem;
  text-align: left;
  font-size: 1rem;
  color: #212121;
  border-radius: 0.35rem;
  background-color: rgba(255, 255, 255, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
}
.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
